main.o
structs_inits.o
validation.o
draw.o
fdf.o
errors.o
file_parser.o
general.o

.DS_Store
libft/*.o
libft/libft.a
fdf
.idea/workspace.xml
.idea/
CMakeLists.txt
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/clion-log.txt

cmake-build-debug/


