main.o
structs_inits.o
validation.o
drawer.o
hooks.o
mlx_exec.o
file_parser.o
general.o
render.o
.DS_Store
libft/*.o
libft/libft.a
fdf
.idea/workspace.xml
.idea/
CMakeLists.txt
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/clion-log.txt

cmake-build-debug/


